<nav
  class="navbar navbar-expand-lg navbar-light bg-light"
  style="
margin-bottom: 0px; 
"
>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarTogglerDemo01"
    aria-controls="navbarTogglerDemo01"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <a class="navbar-brand" href="#">Validacion de Evidencias</a>
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="#"
          >Inicio <span class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/login"> Iniciar sesion</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/register">Registro</a>
      </li>

      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="navbarDropdown"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          Altas
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="/altacarrera">Alta Carrera</a>
          <hr />
          <a class="dropdown-item" routerLink="/altaperiodo">Alta Periodo</a>
          <hr />
          <a class="dropdown-item" routerLink="/altaespecialidad"
            >Alta Especialidad</a
          >
          <hr />

          <a class="dropdown-item" routerLink="/altagrupo">Alta Grupo</a>
          <hr />
          <a class="dropdown-item" routerLink="/altamateria">Alta Materia</a>

          <hr />
          <a class="dropdown-item" routerLink="/altacordinador"
            >Alta Cordinador</a
          >
          <hr />
          <hr />
          <a class="dropdown-item" routerLink="/academia">Academia</a>
          <hr />
        </div>
      </li>

      <li class="nav-item">
        <a
          _ngcontent-kxm-c1=""
          aria-disabled="true"
          class="nav-link"
          href="index.html"
          tabindex="-1"
          style="
      border-right-width: 0px;
      margin-right: 0px;
      margin-left: 666px;
  "
          >Cerrar la sesión</a
        >
      </li>
    </ul>
  </div>
</nav>
