<div class="container">
    	<div class="row">
			<div _ngcontent-ksu-c2="" class="col-md-6 col-md-offset-3" style="
				border-top-width: 0px;
				padding-top: 30px;">
				<div class="panel panel-login">
					<div class="panel-heading">
						<div class="row">
							
							<div class="col-xs-6">
								<a href="#" class = "active" id="register-form-link">Alta de Periodo</a>
							</div>
						</div>
						<hr>
					</div>
					<div class="panel-body">
						<div class="row">
							<div class="col-lg-12">
								<form  #Forma='ngForm' (ngSubmit)='registrarperiodo()'>
											<div class="form-group">
												<input  type="text"  class="form-control" id="validationsServer01" name="nombre" [(ngModel)]="periodo.nombre" #nombre="ngModel" placeholder="Nombre del periodo" required>
											</div>
											<div class="form-group">
									<h5>Fecha de inicio</h5>
									<input  type="date"  class="form-control" id="validationsServer02" name="fechaInicio" [(ngModel)]="periodo.fechaInicio" #fechaInicio="ngModel" placeholder="Ingresa la fecha de inicio" required>
											</div>
											<div class="form-group"> 
								<h5>Fecha de fin</h5>
								<input  type="date"  class="form-control" id="validationsServer03" name="fechaFin" [(ngModel)]="periodo.fechaFin" #fechaFin="ngModel" placeholder="Ingresa la fecha de termino" required>
											</div>
									<div class="form-group">
										<div class="row">
											<div class="col-sm-6 col-sm-offset-3">
												<input type="submit" name="register-submit" id="register-submit" tabindex="4" class="form-control btn btn-register" value="Guardar">
											</div>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>