<div class="contenedor">

    <br><br><br>
    <div class="cAdd">
        <input  type="text" placeholder="Registro Academias">
        <button>+</button>
    </div>
    <br><br>





    <div class="cTabla">
        <table class="tabla" border=1 cellspacing=0 cellpadding=2 bordercolor="666633">
            <th>Academias</th>
            <th>Opciones</th>
            <tr>
                <td>Matematiocas</td>
                <td>
                    <button class="btnDelete"><img src="../../assets/trash-can_115312.ico" alt=""></button>
                    <button class="btnEdit"><img src="../../assets/3592869-compose-create-edit-edit-file-office-pencil-writing-creative_107746.ico" alt=""></button>
                </td>
            </tr>
            <tr>
                <td>Matematiocas</td>
                <td>
                    <button class="btnDelete"><img src="../../assets/trash-can_115312.ico" alt=""></button>
                    <button class="btnEdit"><img src="../../assets/3592869-compose-create-edit-edit-file-office-pencil-writing-creative_107746.ico" alt=""></button>
                </td>
            </tr>
            <tr>
                <td>Matematiocas</td>
                <td>
                    <button class="btnDelete"><img src="../../assets/trash-can_115312.ico" alt=""></button>
                    <button class="btnEdit"><img src="../../assets/3592869-compose-create-edit-edit-file-office-pencil-writing-creative_107746.ico" alt=""></button>
                </td>
            </tr>
            <tr>
                <td>Matematiocas</td>
                <td>
                    <button class="btnDelete"><img src="../../assets/trash-can_115312.ico" alt=""></button>
                    <button class="btnEdit"><img src="../../assets/3592869-compose-create-edit-edit-file-office-pencil-writing-creative_107746.ico" alt=""></button>
                </td>
            </tr>
            <tr>
                <td>Matematiocas</td>
                <td>
                    <button class="btnDelete"><img src="../../assets/trash-can_115312.ico" alt=""></button>
                    <button class="btnEdit"><img src="../../assets/3592869-compose-create-edit-edit-file-office-pencil-writing-creative_107746.ico" alt=""></button>
                </td>
            </tr>
            <tr>
                <td>Matematiocas</td>
                <td>
                    <button class="btnDelete"><img src="../../assets/trash-can_115312.ico" alt=""></button>
                    <button class="btnEdit"><img src="../../assets/3592869-compose-create-edit-edit-file-office-pencil-writing-creative_107746.ico" alt=""></button>
                </td>
            </tr>
            <tr>
                <td>Matematiocas</td>
                <td>
                    <button class="btnDelete"><img src="../../assets/trash-can_115312.ico" alt=""></button>
                    <button class="btnEdit"><img src="../../assets/3592869-compose-create-edit-edit-file-office-pencil-writing-creative_107746.ico" alt=""></button>
                </td>
            </tr>
            <tr>
                <td>Matematiocas</td>
                <td>
                    <button class="btnDelete"><img src="../../assets/trash-can_115312.ico" alt=""></button>
                    <button class="btnEdit"><img src="../../assets/3592869-compose-create-edit-edit-file-office-pencil-writing-creative_107746.ico" alt=""></button>
                </td>
            </tr>
            <tr>
                <td>Matematiocas</td>
                <td>
                    <button class="btnDelete"><img src="../../assets/trash-can_115312.ico" alt=""></button>
                    <button class="btnEdit"><img src="../../assets/3592869-compose-create-edit-edit-file-office-pencil-writing-creative_107746.ico" alt=""></button>
                </td>
            </tr>
            <tr>
                <td>Matematiocas</td>
                <td>
                    <button class="btnDelete"><img src="../../assets/trash-can_115312.ico" alt=""></button>
                    <button class="btnEdit"><img src="../../assets/3592869-compose-create-edit-edit-file-office-pencil-writing-creative_107746.ico" alt=""></button>
                </td>
            </tr>
            <tr>
                <td>Matematiocas</td>
                <td>
                    <button class="btnDelete"><img src="../../assets/trash-can_115312.ico" alt=""></button>
                    <button class="btnEdit"><img src="../../assets/3592869-compose-create-edit-edit-file-office-pencil-writing-creative_107746.ico" alt=""></button>
                </td>
            </tr>
        </table>
    </div>
</div>