ion-content.background {
    --background: url('../../assets/descarga.jpg') 0 0/100% 100% no-repeat;
    opacity: 0.9;
}

.logout {
    position: absolute;
    bottom: 0px;
}

ion-icon {
    width: 25px;
    height: 25px;
}