<div class="container">
    	<div class="row">
			<div _ngcontent-ksu-c2="" class="col-md-6 col-md-offset-3" style="
				border-top-width: 0px;
				padding-top: 30px;">
				<div class="panel panel-login">
					<div class="panel-heading">
						<div class="row">
							
							<div class="col-xs-6">
								<a href="#" class = "active" id="register-form-link">Alta de Materia</a>
							</div>
						</div>
						<hr>
					</div>
					<div class="panel-body">
						<div class="row">
							<div class="col-lg-12">
								<form id="register-form" action="Api rest de alta****" method="post" role="form" style="display: block;">
									<div class="form-group">
										<div class="form-group">
											<div class="form-group">
											
										<input type="text" name="Nombremateria" id="Nombremateria" tabindex="1" class="form-control" placeholder="Nombre de materia" value="">
									</div>
									<input type="number" name="numerounidades" id="numerounidades" tabindex="1" class="form-control" placeholder="Numero de unidades" value="">
								</div>
								<h5>Academia</h5>
								<input type="select" name="Academia" id="Academia" tabindex="1" class="form-control" placeholder="Nombre de Academia" value="">
							</div>
							<!-- <select [(ngModel)]="model">
								<option *ngFor="let item of list" [value]="item">{{item}}</option>
							</select> -->
									<div class="form-group">
										<div class="row">
											<div class="col-sm-6 col-sm-offset-3">
												<input type="submit" name="register-submit" id="register-submit" tabindex="4" class="form-control btn btn-register" value="Guardar">
											</div>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>