<div class="container">
    	<div class="row">
			<div _ngcontent-ksu-c2="" class="col-md-6 col-md-offset-3" style="
				border-top-width: 0px;
				padding-top: 30px;">
				<div class="panel panel-login">
					<div class="panel-heading">
						<div class="row">
							
							<div class="col-xs-6">
								<a href="#" class = "active" id="register-form-link">Alta de Materia</a>
							</div>
						</div>
						<hr>
					</div>
					<div class="panel-body">
						<div class="row">
							<div class="col-lg-12">
								<form  #Forma='ngForm' (ngSubmit)='registrarmateria()'>
									<div class="form-group">
										<input  type="text"  class="form-control" id="validationsServer01" name="nombre" [(ngModel)]="materia.nombre" #nombre="ngModel" placeholder="Nombre de Materia" required>
									</div>
									
									<div class="form-group">
							<h5>Numero De Unidades</h5>
							<input  type="text"  class="form-control" id="validationsServer02" name="numeroUnidades" [(ngModel)]="materia.numeroUnidades" #numeroUnidades="ngModel" placeholder="Unidades" required>
									</div>

									<div class="form-group"> 
										<h5>Academia</h5>
										<input  type="text"  class="form-control" id="validationsServer03" name="academia" [(ngModel)]="materia.academia" #academia="ngModel" placeholder="Academia" required>
													</div>

									<div class="form-group"> 
						<h5>Estado</h5>
						<input  type="text"  class="form-control" id="validationsServer04" name="estado" [(ngModel)]="materia.estado" #estado="ngModel" placeholder="Estado" required>
									</div>

					 			         <div class="form-group">
										    <div class="row">
											<div class="col-sm-6 col-sm-offset-3">
												<input type="submit" name="register-submit" id="register-submit" tabindex="4" class="form-control btn btn-register" value="Guardar">
											</div>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>